<div class="modal-header">
    <h4 class="modal-title">Scopes for {{ws.name}}</h4>
</div>
<div class="modal-body">
    <div class="panel panel-default" ng-repeat="scope in scopes">
        <div class="panel-heading"><b>{{scope.name}}</b>, {{scope.description}}</div>
        <div class="panel-body">
            <p ng-repeat="urlPattern in scope.urlPatterns">
                <span class="label label-primary">{{urlPattern.method}}</span> {{urlPattern.pattern}}
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-disabled="refreshing" ng-click="refresh()">
        <span ng-hide="loading">Refresh</span>
        <i class="fa fa-spinner fa-spin" ng-show="refreshing"></i>
    </button>
    <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
</div>