@main("OAuth console") {

    @*-- Header -- *@
    <nav class="navbar navbar-default navbar-fixed-top basic-nav" data-ng-cloak>
        <div class="container" data-ng-switch="!!user" data-ng-cloak>
            <a href="#/" class="navbar-brand">OAuth console</a>
            <a href="#/ws" class="navbar-brand">WS</a>
            <a href="#/clients" class="navbar-brand">Clients</a>
        </div>
    </nav>
    @* -- Main Content -- *@
    <div class="container" data-ng-cloak>
        <div ui-view></div>
    </div>
    @*-- Footer -- *@
    <footer>
    </footer>
}

